@import "/UI/styles.scss";

PauseMenuComponent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.button {
		width: 100%;
		margin: 1%;
	}

	label {
		font-size: 64px;
	}

	.pause {
		width: 50%;
		height: 50%;
		gap: 5%;
		justify-content: space-around;

		button {
			width: 50%;

			label {
				font-size: 32px;
			}
		}
	}

	.pausebg {
		font-size: 64px;
		font-family: Poppins;
		color: #fff;
		background-color: rgb(70, 70, 70, 0.42);
		backdrop-filter: blur(10px);
		justify-content: center;
		align-items: center;
		font-weight: bold;
		border-radius: 20px;
		height: 100%;
		width: 100%;
		transition: all 0.25s ease-out;
		transform: scale( 1 );
		pointer-events: all;
		flex-direction: column;
		opacity: 1;
		// When the element is created make it expand from nothing.
		&:intro {
			transform: scale( 0 );
			opacity: 0;
		}
		// When the element is deleted make it double in size before being deleted.
		&:outro {
			transform: scale( 2 );
		}
	}
}
