CustomisationUI {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	pointer-events: all;
	font-family: Rockboxcond12;
	color: #fff;


	label {
		color: #fff;
		filter: drop-shadow( 0 0 10px rgba( black, 1 ) );
		text-stroke: 5px black;
		font-size: 50px;
		padding: 1%;
	}

	SliderControl {

		.track {
			background-color: rgb(64, 64, 64)
		}
	}

	.sliderholder {
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.customiser {
		background-color: blue;
		width: 30%;
		height: 50%;
		position: absolute;
		left: 5%;
		border-image: url("images/panel-border-000.png") 32px round;
		background-color: rgb(135, 135, 135, 1);
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	button {
		font-size: 50px;
		justify-content: center;
		align-content: center;
		border-image: url("images/panel-border-000.png") 32px round;
		background-color: rgb(90, 196, 255);
	}

	button:hover {
		background-color: rgb(255, 106, 0);
	}
}
