MainMenuComponent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	font-family: Rockboxcond12;
	color: #fff;
	flex-direction: column;
	pointer-events: all;
	gap:10%;
	

	h1 {
		font-size: 128px;
		font-weight: bold;
	}

	h2 {
		font-size: 80px;
		font-weight: bold;
	}

	button {
		font-size: 50px;
		height: 10%;
		justify-content: center;
		align-content: center;
		border-image: url("images/panel-border-000.png") 32px round;
		background-color: rgb(90, 196, 255);
	}

	button:hover {
		background-color: rgb(255, 106, 0);
	}

	label {
		color: #fff;
		filter: drop-shadow( 0 0 10px rgba( black, 1 ) );
		text-stroke: 5px black;
	}
}
