{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement"
    },
    {
      "Name": "Walk",
      "KeyboardCode": "alt",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Duck",
      "KeyboardCode": "ctrl",
      "GamepadCode": "B",
      "GroupName": "Movement"
    },
    {
      "Name": "use",
      "KeyboardCode": "e",
      "GamepadCode": "Y",
      "GroupName": "Actions"
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Flashlight",
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth",
      "GroupName": "Other"
    },
    {
      "Name": "Score",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Menu",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "FlyUp",
      "KeyboardCode": "E",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Other"
    },
    {
      "Name": "FlyDown",
      "KeyboardCode": "Q",
      "GamepadCode": "RightTrigger",
      "GroupName": "Other"
    }
  ],
  "__guid": "827f95bb-fbeb-4004-8411-297c337e8b44",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}