@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent



<root>
    <div class="titleHolder">
	    <h1>Free Delivery!</h1>
	    <div class="divider"></div>
    </div>
	<button onclick=@(() => OnPlay(GameScene))>Play</button>
	<button onclick=@(() => OnPlay(SandboxScene))>Sandbox</button>
	<button onclick=@OpenCustom>Customise</button>
    <button onclick=@(() => Game.Overlay.ShowSettingsModal())>Settings</button>
    <button onclick=@(() => Game.Close())>Quit</button>

    <div class="review-card panel">
        <label>Enjoyed The Game?</label>
        <button onclick=@(() => Game.Overlay.ShowReviewModal(Package.Fetch("katewoz.the_pivot", true).Result))>Review</button>
    </div>
</root>

@code
{

    [Property] MenuOpenningComponent Opening { get; set; }
    [Property] CustomisationUI CustomUI { get; set; }

    [Property] SceneFile GameScene { get; set; }
    [Property] SceneFile SandboxScene { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	//protected override int BuildHash() => System.HashCode.Combine( MyStringValue );

	void OnPlay(SceneFile ToScene)
	{
		GameObject.Enabled = false;
		FadeComponent.GlobalFadeOut();
		_ = Opening.WaitABit(ToScene);
	}

	void OpenCustom()
	{
		CustomUI.Enabled = true;
		Enabled = false;
	}
}
